{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>동아리 모음</title>
</head>
<body>
    <h1>홈</h1>
    <a href = "{% url 'login' %}">로그인</a>
    <a href = "{% url 'logout' %}">로그아웃</a>
    <a href = "{% url 'signup' %}">회원가입</a>
    <a href = "{% url 'create' %}">동아리 추가</a>

    {% if user.is_authenticated %}
        <p>안녕하세요, {{user.username}} 님! </p>
    {% endif %}

    {% for post in posts %}
        <h3>이름: <a href = "{% url 'detail' post.id %}">{{post.title}}</a></h3>
    {% endfor %}

</body>
</html>

{% endblock %}